@charset "EUC-KR";

/* 태그 선택자: p태그에 글자색(color)을 빨간색(red)으로 적용 */
/* 
   선택자{
    속성:값
}
*/
  p{
   color: red;
}

/* 클래스 선택자: class의 값이 hi인 것의 배경색(background-color)을 초록색(green)으로 적용 */ 
 .hi{
   background-color: green;
}

/* id 선택자: id의 값이 hi3인것에 글자색을 회색(gray)으로 하고,
            class의 값이 hello인것은 배경색을 검정(black)으로 적용 */
  #hi3{
  color: gray;
  }

